task: detection

num_classes: 21
remap_mscoco_category: True

train_dataloader: 
  type: DataLoader
  dataset: 
    type: CocoDetection
    img_folder: E:/code/shcool_over_paper/py-rt-detr/rt-detr/configs/dataset/train/
    ann_file: E:/code/shcool_over_paper/py-rt-detr/rt-detr/configs/dataset/annotations/train.json
    transforms:
      type: Compose
      ops: ~
  shuffle: True
  batch_size: 8
  num_workers: 4
  drop_last: True 


val_dataloader:
  type: DataLoader
  dataset: 
    type: CocoDetection
    img_folder: E:/code/shcool_over_paper/py-rt-detr/rt-detr/configs/dataset/val/
    ann_file: E:/code/shcool_over_paper/py-rt-detr/rt-detr/configs/dataset/annotations/val.json
    transforms:
      type: Compose
      ops: ~ 

  shuffle: False
  batch_size: 8
  num_workers: 4
  drop_last: False