task: detection

num_classes: 20
remap_mscoco_category: True

train_dataloader: 
  type: DataLoader
  dataset: 
    type: CocoDetection
    img_folder: /home/jojo/gitlib/clone/rt-detr/configs/dataset/train/
    ann_file: /home/jojo/gitlib/clone/rt-detr/configs/dataset/annotations/train.json
    transforms:
      type: Compose
      ops: ~
  shuffle: True
  batch_size: 16 
  num_workers: 4
  drop_last: True 


val_dataloader:
  type: DataLoader
  dataset: 
    type: CocoDetection
    img_folder: /home/jojo/gitlib/clone/rt-detr/configs/dataset/val/
    ann_file: /home/jojo/gitlib/clone/rt-detr/configs/dataset/annotations/val.json
    transforms:
      type: Compose
      ops: ~ 

  shuffle: False
  batch_size: 16
  num_workers: 4
  drop_last: False